[submodule "src/generic"]
	path = src/generic
	url = https://github.com/GuessWhatGame/generic
[submodule "src/vqa_eval"]
	path = src/vqa_eval
	url = git@github.com:fstrub95/VQA.git
[submodule "src/neural_toolbox"]
	path = src/neural_toolbox
	url = https://github.com/GuessWhatGame/neural_toolbox
